<h1>Create a new post</h1>
<form action="/new" method="POST">
  <select name="category">
  <% @categories.each do |category| %>
      <option value="<%= category.id %>"><%= category.title %></option>
  <% end %>
  </select><br>
  <%= erb :_form_fields, layout: false %>

</form>
